.header__logo {
    object-position: center;
    object-fit: fill;
    width: 142px;
    height: 34px;
}



@media (max-width: 550px) {
    .header__logo {
        max-width: 103px;
        max-height: 24px;
    }
}