.header {
    margin: 0 auto;
    max-width: 888px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
}

@media (max-width: 910px) {
    .header {
        flex-direction: column;
        padding-bottom: 31px;
    }
}